<!-- <table border="1">
  <tr>
    <th><%= Sub_Name %></th>
  </tr>
  <tr>
    <td>
      <strong>From: </strong><%= From %><strong>&nbsp;&nbsp;To: </strong><%= To%>
    </td>
  </tr>
  <tr>
    <td>
        <strong>Attended: </strong><%= attended %>
    </td>
  </tr>
  <tr>
    <td>
        <strong>Absent: </strong><%= absent %>
    </td>
  </tr>
  <tr>
    <td>
        <strong>Total: </strong><%= attended+absent %>
    </td>
  </tr>
  <tr>
    <td>
        <strong>Total: </strong><%= ((attended/(attended+absent))*100).toFixed(2) %>%
    </td>
  </tr>
  
</table>
  -->

<div class="table">
  <div class="table-content">
    <strong><%= Sub_Name %></strong>
  </div>
  <div class="table-content">
    <strong>From: </strong><%= From %><strong
      >&nbsp;&nbsp;&nbsp;&nbsp To: </strong
    ><%= To%>
  </div>
  <div class="table-content"><strong>Attended: </strong><%= attended %></div>
  <div class="table-content"><strong>Absent: </strong><%= absent %></div>
  <div class="table-content">
    <strong>Total: </strong><%= attended+absent %>
  </div>
  <div class="table-content">
    <strong>Total: </strong><%= ((attended/(attended+absent))*100).toFixed(2)
    %>%
  </div>
</div>
