<div class="alert">
  <div class="strong">
    <p><span>•</span>Question <%=index%></p>
  </div>

  <br />
  <%=question%><br>
  <input type="radio" id="a-<%=index%>" name="q<%=index%>" />
  <label for="a-<%=index%>"><%=a%></label><br />
  <input type="radio" id="b-<%=index%>" name="q<%=index%>" />
  <label for="b-<%=index%>"><%=b%></label><br />
  <input type="radio" id="c-<%=index%>" name="q<%=index%>" />
  <label for="c-<%=index%>"><%=c%></label><br />
  <input type="radio" id="d-<%=index%>" name="q<%=index%>" />
  <label for="d-<%=index%>"><%=d%></label><br />
  <button id="submit" style="background-color: #0662cc;margin-top: 5px;margin-left: 15px;color:white;border: none;height: 30px;width: 80px;">Check</button>
</div>
