<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_admin.ejs',{page_name:'admin-dashboard'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <%- include('../partials/info_cards.ejs', {name: 'Name', des: 'Bhuvesh Mittal',icon:'fa-solid fa-user'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Roll No.', des: '2210991450',icon:'fas fa-list-ol'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Gender', des: 'Male',icon:'fa-solid fa-person'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'D.O.B.', des: '08-05-2004',icon:'fa-solid fa-cake-candles'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Category', des: 'General',icon:'fa-light fa-address-card'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Mobile No.', des: '6283010969',icon:'fa-solid fa-phone'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Email', des: 'bhuvesh1450.be22@chitkara.edu.in',icon:'fa-solid fa-envelope'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Batch', des: '2022',icon:'fa-solid fa-graduation-cap'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Program', des: 'BE Computer Science & Engineering',icon:'fa-duotone fa-solid fa-book-open-reader'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Father Name', des:'Suresh Kumar',icon:'fa-sharp fa-solid fa-person'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Mother Name', des: 'Renu Bala',icon:'fa-sharp fa-solid fa-person-dress'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Address', des: 'St No 2, Lakhi Colony, Barnala',icon:'fa-sharp fa-solid fa-location-dot'}) %>
  </div>
<%- include('../partials/footer.ejs') %>
