<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_admin.ejs',{page_name:'admin-dashboard'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <%- include('../partials/info_cards.ejs', {name: 'Name', des: 'Saurabh Roy',icon:'fa-solid fa-user'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Role', des: 'Dean',icon:'fa-solid fa-user-tie'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Gender', des: 'Male',icon:'fa-solid fa-person'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'D.O.B.', des: '12-09-1978',icon:'fa-solid fa-cake-candles'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Category', des: 'General',icon:'fa-light fa-address-card'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Mobile No.', des: '6267654969',icon:'fa-solid fa-phone'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Email', des: 'saurabh.be22@chitkara.edu.in',icon:'fa-solid fa-envelope'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Dean since', des: '2019',icon:'fa-light fa-calendar-check'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Program', des: 'BE Computer Science & Engineering',icon:'fa-duotone fa-solid fa-book-open-reader'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Qualifications', des:'Phd in Mathematics, Masters in Computer Sciences, Masters in Artificial Engineering',icon:'fa-solid fa-graduation-cap'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Office', des: 'Room No. 312, CSE block',icon:'fa-sharp fa-solid fa-location-dot'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Experience', des: 'Professor Chitkara university, Assistant Dean Cse',icon:'fa-solid fa-computer'}) %>
  </div>
<%- include('../partials/footer.ejs') %>
