<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_admin.ejs',{page_name:'admin-teachers'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">

    <div class="container">
        <header>Registration</header>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="form-title">Teacher Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>
                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>
                        <div class="input-field">
                            <label>Gender</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>ID</label>
                            <input type="number" placeholder="Enter Teacher ID" required>
                        </div>
                        
                    </div>
                </div>
                <div class="details ID">
                    <span class="title">Other Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Qualification</label>
                            <input type="text" placeholder="Enter Qualification" required>
                        </div>
                        <div class="input-field">
                            <label>Joining Year</label>
                            <input type="number" placeholder="Enter the joining year" required>
                        </div>
                        <div class="input-field">
                            <label>Experience</label>
                            <input type="number" placeholder="Enter the experience" required>
                        </div>
                        <div class="input-field">
                            <label>Category</label>
                            <input type="text" placeholder="Enter category" required>
                        </div>
                        <div class="input-field">
                            <label>Age</label>
                            <input type="number" placeholder="Enter the age" required>
                        </div>
                        <div class="input-field">
                            <label>Address</label>
                            <input type="text" placeholder="Enter Address" required>
                        </div>
                        
                    </div>
                    <button class="nextBtn">
                        Add Teacher
                    </button>
                </div> 
            </div>
           
        </form>

    </div>

    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
   
   

  </div>
<%- include('../partials/footer.ejs') %>
