<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_admin.ejs',{page_name:'admin-teachers'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">

    <div class="container">
        <header>Registration</header>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="form-title">Student Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>
                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>
                        <div class="input-field">
                            <label>Gender</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Roll number</label>
                            <input type="number" placeholder="Enter roll number" required>
                        </div>
                        
                    </div>
                </div>
                <div class="details ID">
                    <span class="title">Other Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Batch</label>
                            <input type="number" placeholder="Enter batch" required>
                        </div>
                        <div class="input-field">
                            <label>Program</label>
                            <input type="text" placeholder="Enter the program" required>
                        </div>
                        <div class="input-field">
                            <label>Program Duration</label>
                            <input type="number" placeholder="Enter program duration" required>
                        </div>
                        <div class="input-field">
                            <label>Hostel Facility</label>
                            <input type="text" placeholder="Enter issued state" required>
                        </div>
                        <div class="input-field">
                            <label>Receipt Date</label>
                            <input type="date" placeholder="Enter your receipt date" required>
                        </div>
                        <div class="input-field">
                            <label>Receipt Number</label>
                            <input type="text" placeholder="Enter receipt number" required>
                        </div>
                        
                    </div>
                    <button class="nextBtn">
                        Add student
                    </button>
                </div> 
            </div>
           
        </form>

    </div>

    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/admin_teacherslist.ejs', { name: 'Daanushi',des:'22100991469' }) %>
   
   

  </div>
<%- include('../partials/footer.ejs') %>
