<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_club.ejs',{page_name:'club-dashboard'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <%- include('../partials/info_cards.ejs', {name: 'Club Name', des: 'Alpha tech club',icon:'fa-sharp-duotone fa-solid fa-screen-users'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Established in.', des: '2018',icon:'fa-solid fa-calendar-days'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'No. of members', des: '10',icon:'fa-solid fa-person'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'No. of Events organised', des: '32',icon:'fa-regular fa-calendar-check'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Faculty lead', des: 'Mr. Gurvinder Singh',icon:'fa-solid fa-user-tie'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Club Contact', des: '9873010969',icon:'fa-solid fa-phone'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Email', des: 'alphatech.be22@chitkara.edu.in',icon:'fa-solid fa-envelope'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Social media', des:'@alphatech',icon:'fa-brands fa-instagram'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Office', des: 'Room no.113, Turing block',icon:'fa-sharp fa-solid fa-location-dot'}) %>
  </div>
<%- include('../partials/footer.ejs') %>
