<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_club.ejs',{page_name:'club-dashboard'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <%- include('../partials/info_cards.ejs', {name: 'Club Name', des: 'Bhuvesh Mittal',icon:'fa-solid fa-user'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Established in.', des: '2210991450',icon:'fas fa-list-ol'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'No. of members', des: 'Male',icon:'fa-solid fa-person'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'No. of Events organised', des: '08-05-2004',icon:'fa-solid fa-cake-candles'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Faculty lead', des: 'General',icon:'fa-light fa-address-card'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Club Head', des: '6283010969',icon:'fa-solid fa-phone'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Email', des: 'bhuvesh1450.be22@chitkara.edu.in',icon:'fa-solid fa-envelope'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Social media', des:'Suresh Kumar',icon:'fa-sharp fa-solid fa-person'}) %>
    <%- include('../partials/info_cards.ejs', {name: 'Office', des: 'St No 2, Lakhi Colony, Barnala',icon:'fa-sharp fa-solid fa-location-dot'}) %>
  </div>
<%- include('../partials/footer.ejs') %>
