<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_student.ejs',{page_name:'student-quiz'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <%- include('../partials/question.ejs',{question:'What is the capital of Nigeria?',a:'Lagos',b:'Abuja',c:'Kano',d:'Ibadan', index: 1}) %>
    <%- include('../partials/question.ejs',{question:'What is the capital of Nigeria?',a:'Lagos',b:'Abuja',c:'Kano',d:'Ibadan', index: 2}) %>
    <%- include('../partials/question.ejs',{question:'What is the capital of Nigeria?',a:'Lagos',b:'Abuja',c:'Kano',d:'Ibadan', index: 3}) %>
    <%- include('../partials/question.ejs',{question:'What is the capital of Nigeria?',a:'Lagos',b:'Abuja',c:'Kano',d:'Ibadan', index: 4}) %>
    <%- include('../partials/question.ejs',{question:'What is the capital of Nigeria?',a:'Lagos',b:'Abuja',c:'Kano',d:'Ibadan', index: 5}) %>
    
</div>

<%- include('../partials/footer.ejs') %>

