<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_student.ejs',{page_name:'student-attendance'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <%- include('../partials/attendance_block.ejs',{Sub_Name:'BackEnd Engineering',From:'08-08-2024',To:'28-8-2024',attended:7,absent:2}) %>
    <%- include('../partials/attendance_block.ejs',{Sub_Name:'BackEnd Engineering',From:'08-08-2024',To:'28-8-2024',attended:7,absent:2}) %>
    <%- include('../partials/attendance_block.ejs',{Sub_Name:'BackEnd Engineering',From:'08-08-2024',To:'28-8-2024',attended:7,absent:2}) %>
    <%- include('../partials/attendance_block.ejs',{Sub_Name:'BackEnd Engineering',From:'08-08-2024',To:'28-8-2024',attended:7,absent:2}) %>
</div>
<%- include('../partials/footer.ejs') %>

