<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_student.ejs',{page_name:'student-quiz'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <%- include('../partials/question.ejs',{question:'Which of the following data types is immutable in Python?',a:'List',b:'Set',c:'Dictionary',d:'Tuple', index: 1}) %>
    <%- include('../partials/question.ejs',{question:'How do you create a virtual environment in Python?',a:'python -m venv myenv',b:'python --create-env myenv',c:'python create venv myenv',d:'python -m create-env myenv', index: 2}) %>
    <%- include('../partials/question.ejs',{question:'What does the len() function do in Python?',a:'Returns the length of a string',b:'Returns the length of a list',c:'Returns the length of any iterable',d:'All of the above', index: 3}) %>
    <%- include('../partials/question.ejs',{question:'Which of the following methods can be used to add an element to a list in Python?',a:'list.add()',b:'list.append()',c:'list.insert()',d:'list.push()', index: 5}) %>
    <%- include('../partials/question.ejs',{question:'How do you write a comment in Python?',a:'// This is a comment',b:'/* This is a comment */',c:'# This is a comment',d:'None of the above', index: 6}) %>
    <%- include('../partials/question.ejs',{question:'Which of the following statements is true about Python functions?',a:'Functions must return a value',b:'Functions can return multiple values',c:'Functions cannot take arguments',d:'Functions cannot be nested', index: 7}) %>
    <%- include('../partials/question.ejs',{question:'What is the purpose of the if __name__ == "__main__": statement in Python?',a:'To define the main function',b:'To check if a module is being run directly or imported',c:'To initialize variables',d:'To execute code in all cases', index: 8}) %>
    <%- include('../partials/question.ejs',{question:'Which of the following is used to create an empty dictionary in Python?',a:'{}',b:'[]',c:'()',d:'set()', index: 9}) %>
    <%- include('../partials/question.ejs',{question:'What is the purpose of the pass statement in Python?',a:'To end a function',b:'To skip the current iteration of a loop',c:'To indicate an empty block of code',d:'To pass a value to a function', index: 10}) %>
    
</div>

<%- include('../partials/footer.ejs') %>

