<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_student.ejs',{page_name:'student-attendance'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <%- include('../partials/attendance_block.ejs',{Sub_Name:'Introduction to Python',From:'15-7-2024',To:'31-8-2024',attended:90,absent:6}) %>
    <%- include('../partials/attendance_block.ejs',{Sub_Name:'Calculas & Statistical Analysis',From:'15-7-2024',To:'31-8-2024',attended:87,absent:9}) %>
    <%- include('../partials/attendance_block.ejs',{Sub_Name:'Modern Physics',From:'15-7-2024',To:'31-8-2024',attended:93,absent:3}) %>
    <%- include('../partials/attendance_block.ejs',{Sub_Name:'Source code Management',From:'15-7-2024',To:'31-8-2024',attended:84,absent:12}) %>
    <%- include('../partials/attendance_block.ejs',{Sub_Name:'Operating System',From:'15-7-2024',To:'31-8-2024',attended:81,absent:15}) %>
    <%- include('../partials/attendance_block.ejs',{Sub_Name:'Frontend Engineering',From:'15-7-2024',To:'31-8-2024',attended:96,absent:0}) %>
</div>
<%- include('../partials/footer.ejs') %>

