<%- include('../partials/header.ejs') %> <%-
include('../partials/sidebar_student.ejs', {page_name: 'student-dashboard'}) %>
<%- include('../partials/header_profile.ejs') %>

<div class="container2">
  <%- include('../partials/info_cards.ejs', {name: 'Name', des: 'Bhuvesh Mittal',icon:'fa-solid fa-user'}) %>
  <%- include('../partials/info_cards.ejs', {name: 'Roll No.', des: '2210991450',icon:'fas fa-list-ol'}) %>
  <%- include('../partials/info_cards.ejs', {name: 'Gender', des: 'Male',icon:''}) %>
  <%- include('../partials/info_cards.ejs', {name: 'D.O.B.', des: '08-05-2004',icon:''}) %>
  <%- include('../partials/info_cards.ejs', {name: 'Category', des: 'General',icon:''}) %>
  <%- include('../partials/info_cards.ejs', {name: 'Mobile No.', des: '6283010969',icon:''}) %>
  <%- include('../partials/info_cards.ejs', {name: 'Email', des: 'bhuvesh1450.be22@chitkara.edu.in',icon:''}) %>
  <%- include('../partials/info_cards.ejs', {name: 'Batch', des: '2022',icon:''}) %>
  <%- include('../partials/info_cards.ejs', {name: 'Program', des: 'BE Computer Science & Engineering',icon:''}) %>
  <%- include('../partials/info_cards.ejs', {name: 'Father Name', des:'Suresh Kumar',icon:''}) %>
  <%- include('../partials/info_cards.ejs', {name: 'Mother Name', des: 'Renu Bala',icon:''}) %>
  <%- include('../partials/info_cards.ejs', {name: 'Address', des: 'St No 2, Lakhi Colony, Barnala',icon:''}) %>
</div>

<%- include('../partials/footer.ejs') %>
