<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_student.ejs',{page_name:'student-noticeboard'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <%- include('../partials/notices.ejs',{heading:'Opening of GDCS Club',message:'This is to inform students that the registration for joing the GDSC club has been opened. So fill ip the form as soon as possible'}) %>
    <%- include('../partials/notices.ejs',{heading:'Opening of GDCS Club',message:'This is to inform students that the registration for joing the GDSC club has been opened. So fill ip the form as soon as possible'}) %>
    <%- include('../partials/notices.ejs',{heading:'Opening of GDCS Club',message:'This is to inform students that the registration for joing the GDSC club has been opened. So fill ip the form as soon as possible'}) %>
    <%- include('../partials/notices.ejs',{heading:'Opening of GDCS Club',message:'This is to inform students that the registration for joing the GDSC club has been opened. So fill ip the form as soon as possible'}) %>
    <%- include('../partials/notices.ejs',{heading:'Opening of GDCS Club',message:'This is to inform students that the registration for joing the GDSC club has been opened. So fill ip the form as soon as possible'}) %>
    <%- include('../partials/notices.ejs',{heading:'Opening of GDCS Club',message:'This is to inform students that the registration for joing the GDSC club has been opened. So fill ip the form as soon as possible'}) %>
    <%- include('../partials/notices.ejs',{heading:'Opening of GDCS Club',message:'This is to inform students that the registration for joing the GDSC club has been opened. So fill ip the form as soon as possible'}) %>

    <strong style="margin-bottom: 15px;">No more Feeds....</strong>
</div>
<%- include('../partials/footer.ejs') %>

