<%- include('../partials/header.ejs') %>
<%- include('../partials/sidebar_teacher.ejs',{page_name:'teacher-students'}) %>
<%- include('../partials/header_profile.ejs') %>
<div class="container2">
    <!-- <%- include('../partials/student_list.ejs', {name: 'Name', des: 'Riya Mehta',icon:'fa-solid fa-user'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Id.', des: '1257',icon:'fas fa-list-ol'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Gender', des: 'Female',icon:'fa-solid fa-person'}) %>
    <%- include('../partials/student_list.ejs', {name: 'D.O.B.', des: '18-05-1996',icon:'fa-solid fa-cake-candles'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Category', des: 'General',icon:'fa-light fa-address-card'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Mobile No.', des: '9876540969',icon:'fa-solid fa-phone'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Email', des: 'riya1257@chitkara.edu.in',icon:'fa-solid fa-envelope'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Age', des: '28',icon:'fa-solid fa-graduation-cap'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Qualification', des: 'BE Computer Science & Engineering',icon:'fa-duotone fa-solid fa-book-open-reader'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Joining year', des:'2019',icon:'fa-sharp fa-solid fa-person'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Experience', des: '',icon:'fa-sharp fa-solid fa-person-dress'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Address', des: '340,  Barnala',icon:'fa-sharp fa-solid fa-location-dot'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Category', des: 'General',icon:'fa-light fa-address-card'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Mobile No.', des: '9876540969',icon:'fa-solid fa-phone'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Email', des: 'riya1257@chitkara.edu.in',icon:'fa-solid fa-envelope'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Age', des: '28',icon:'fa-solid fa-graduation-cap'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Qualification', des: 'BE Computer Science & Engineering',icon:'fa-duotone fa-solid fa-book-open-reader'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Joining year', des:'2019',icon:'fa-sharp fa-solid fa-person'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Experience', des: '',icon:'fa-sharp fa-solid fa-person-dress'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Address', des: '340,  Barnala',icon:'fa-sharp fa-solid fa-location-dot'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Qualification', des: 'BE Computer Science & Engineering',icon:'fa-duotone fa-solid fa-book-open-reader'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Joining year', des:'2019',icon:'fa-sharp fa-solid fa-person'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Experience', des: '',icon:'fa-sharp fa-solid fa-person-dress'}) %>
    <%- include('../partials/student_list.ejs', {name: 'Address', des: '340,  Barnala',icon:'fa-sharp fa-solid fa-location-dot'}) %> -->

    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
    <%- include('../partials/student_list.ejs', { name: 'Daanushi',des:'22100991469' }) %>
  


  </div>
<%- include('../partials/footer.ejs') %>

